FlickrKit/FlickrKit.xcodeproj/xcuserdata/
/FlickrKit/FlickrKit.xcodeproj/project.xcworkspace/xcuserdata/
FlickrKit.xcodeproj/xcshareddata/xcschemes/
/ModelGenerator/FlickrKitModelGenerator.xcodeproj/project.xcworkspace/
xcuserdata
project.xcworkspace
/build/